html {
   
    overflow-y: scroll;
    overflow-x:hidden;
}
body {
    position: absolute;
    font-family: Roboto;
    background-image: url(../images/banner.jpg);
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
   
}



.container {
    margin-top: 2000px;
}


