.stopka {
    display: flex;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.644);
    color: black;
    text-align: center;
    
    
}

.test1 p {
    font-family: Raleway;
    align-content: center;
    width: 100%;
    height: auto;
    
}