.main-nav {
    font-family: Raleway, 'Courier New', Courier, monospace;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0);
}

.logo-pic_img {
    width: 70px;
    margin-right: 10px;
}
.logo-pic_link{
    text-decoration: none;
    color: white;
    display: flex;
    align-items: center;
    font-size: 22px;
    font-weight: bold;
    padding-left: 30px;
    font-style: bold ;

}
.nav-item__link {
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    color: white; 
    padding: 5px;
    
}
.nav-item__link:hover{
    border-bottom: 2px white solid;    
}

@media (max-width: 950px){
    .logo-pic_link {
        font-size: 20px;
    }
    .logo-pic_img {
        width: 50px;
    }
}

.navigation-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1400px;
    margin: 0 auto;
}

.navigation-list_menu {
    display: flex;
    flex-wrap: nowrap;
   margin-left: auto;
    margin-right: auto;
    padding: 0;
    list-style: none;
}



.navigation-list_item {
    margin-left: 40px;
    font-size: 10px;
}

.nav-menu__scroll {
  padding-right: 20px;
  margin-right: 20px;
  margin-left: auto;
  
  
}

.nav-menu__scroll:hover {
    box-shadow: white 2px;
}
  
@media (max-width: 850px){

    .navigation-list_menu{
        position: fixed;
        display: none;
        

    }
}