.main-nav {
    font-family: Raleway;
    position: fixed;
    left: 0;
    right: 0;
    background-color: black;
  
}
.navigation-logo {
    margin-left: 20px;
}

.logo-pic_img {
    width: 50px; 
    margin-right: 10px;   
}

.logo-pic_link {
    text-decoration: none;
    font-weight: bold;
    font-size: 23px;
    color: white;
    display: flex;
    align-items: center;    
}
.navigation-bar
{
    display: flex;
    align-items: center;
    margin: 0 auto;
    max-width: 1400px;
}

.navigation-list_menu {
    display: flex;
    margin-left: auto;
    margin-right: auto
    list-style: none;
}
.navigation-list_item {
    margin-right: 40px;
}






.nav-item__link {
    text-decoration: none;
    color: white;
}

@media (max-width: 850px){
    .dot {
        display: flex;
        border: solid wheat 1px;
        width: 10px;
        height: 10px;
        margin:auto;
        margin-top: 8%; 
        background: wheat;
        border-radius: 50%;
    }
}

@media (max-width: 850px){
    .navigation-list_menu{
       
        background: rgba(0, 0, 0, 0.9);
        position: fixed;
        margin: 0;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        visibility: hidden;
    }
    
    .navigation-list_item { 
        list-style: none;
        margin-top: 30px;
                
    }
}

/*  ////////////////////    Przycisk  /////////////////////////////*/
@media (max-width: 850px){
    .menu_button{
        
        position: absolute;
        top: 10px;
        right: 20px;

        width: 30px;
        height: 30px;
          
    }   
    span {
        
        height: 3px;
        width: 100%;
        position: absolute;
        background-color: #fff;
        border-radius: 20px;
        width: 100%;
        top:50%;
       
    }
    span::after, span:before {
        content: '';
        background-color: #fff;
        border-radius: 20px;
        height: 3px;
        width: 100%;
        position: absolute;
        left: 50%;
        margin-left: -15px;
        transition: all 200ms;

    }
    span::after{
        top: -7px;
    }
    span::before{
         bottom: -7px;
        }
    
    .menu_button.act span{
        height: 0;
    }
        
    /*/////////////////////////////////////////////////////////////*/    
  


}

