.container {
    display: flex;
    margin-top: 70px; 
    max-width: 60%;
    margin-left: auto;
    margin-right: auto;  
}

.container_right {
        flex-direction: column;
        border: solid white 2px;
  }
  .container_center {
      
      margin-left: auto;
      margin-right: auto;
  }

  .container_left {
    border: solid white 2px;
    list-style: none;
  }