.container {
    display: flex;
    margin-top: 80px; 
    margin-bottom: 20px;
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;  
    flex-direction: column;
}

.container_right {
        
        margin-right: 10px;
        margin-left: 10px;
  }
  .container_center {
      
      margin-left: auto;
      margin-right: auto;
      text-align: justify;
      max-width: 800px;
  }

  .container_left {
    margin-right: 10px;
    justify-content: center;
    
    
    
  }
  .left_pic {
      width: 100%;
      border-radius: 50%;
  }

  .container_left-list {
      list-style: none;
  }

  @media (max-width: 850px){
      .container{
          flex-direction: column;
          
          margin-left: 10px;
          margin-right: 10px;
      }
  }