.stopka {
    width: 100%;
    bottom: 0;
    background-color: rgb(0, 0, 0);
    color: rgb(128, 128, 128);
    text-align: center;
    
    
}
.stopka{ height:50px;  }

.test1 p {
    font-family: Raleway, 'Courier New', Courier, monospace;
    align-content: center;
    width: 100%;
    height: auto;
    
}